 body{
   background-color: #EAEAEA;
 }
 
 .card{
    width: 30%;
    background-color:#D6E4E5;
    height: 400px;
    position: relative;
    left: 35%;
    margin-top: 100px;
    border-radius: 10px;
    text-align: left;
    padding-left: 30px;
    
 }
 input{
   padding: 5px;
   width: 90%;
   margin: 2% 0%;
   border-color:#EDEDED;
   padding-top: 2%;
 }

 button{
   width: 95%;
   padding: 12px;
   margin-top: 4%;
   background-color: black;
   color: beige;
 }
 .card1{
   position: relative;
   top: 40px;
 }
 p{
   text-align: center;
   position: relative;
   right: 7%;
   color: red;
 }